* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  padding: 30px 20px 30px;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(350px, 1fr)
  );
  gap: 30px;
  justify-items: center;
}

.card {
  background-color: white;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  box-shadow: -10px 10px 10px
    rgba(0, 0, 0, 0.2);
}

.card .title,
.card p {
  text-transform: capitalize;
}

.card .highlight {
  color: rgb(235, 235, 4);
  font-weight: bold;
}

.card .image {
  width: 100%;
  border: 2px solid black;
  padding: 5px;
}

.card .image img {
  max-width: 100%;
}

.card .promotion {
  font-size: 35px;
  text-decoration: underline;
  text-align: center;
  color: lime;
  font-weight: bolder;
}

.card .cta-btn {
  display: flex;
  width: 100%;
  border: 7px solid #ff9a00;
  border-radius: 10px;
}

.card .cta-btn img {
  max-width: 100%;
}
